body{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;

}
.container{
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #d29c28;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    max-width: 100%;
    margin: 0 auto;
}
h1{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: #08192b;
    color:#f9efef;
    width: 100%;
    border-radius: 5px;

}
#changePassForm{
   width: 100%;
   max-width: 400px;
   padding: 80px;

}


label{
    margin-top: 10px;
    width:100%;
    text-align: left;

}

input {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}


#confirm {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-right: 45%;  

}

button:hover {
    background-color: #0056b3;
}

#back {
    padding: 12px;
    background-color: #616eff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 12px;
    justify-content: center;
    align-items: center;
    margin-left: 85%;
    margin-right: 40%;
}